@media (max-width:1024px) {

    .nav_container {
        width: 100%;
        padding: 0px 30px;
    }

.logo{
    width: 60px;
}

.nav-links{   
    padding: 0px 0px 0px 120px;
   }

   .container_block{
    width: 100%;
    padding: 30px;
}

.info .container {
    width: 100%;
    padding: 0px;
}

.info .row {
    flex-wrap: wrap;
}

.info .section_block:nth-child(1) {
    width: 50%;
    height: 320px;
}

.icon_block{
    padding: 30px 30px 16px;
}

.info_text{
    height: auto;
    padding: 0px 30px;
}

.info .section_block:nth-child(2) {
    width: 50%;
    height: 320px;
}

.info .section_block:nth-child(3) {
    width: 50%;
    height: 320px;
}

.info .section_block:nth-child(4) {
    width: 50%;
    height: 320px;
}

.pa_container {
    width: 100%;
    padding: 0px 30px;
}

.pa_mask{
    padding: 29px 0px 40px;
}

.pa_text{
    font-size: 86px;
    line-height: 90px;
    margin: 0px;
}

.pa_mainer{
    padding: 0px 0px 0px 4px;
}

.ball_container{
    width: 100%;
    padding: 0px 30px;
}

.text_container{
    width: 100%;
    padding: 0px 30px;
}

.turn_pic_text{
    bottom: 60px;
}

.pic_text{
    width: 100%;
    padding: 0px 30px;
}

.pic_text h2{
    font-size: 86px;
    line-height: 90px;
    margin: 0px;
    }

    .design_container{
        width: 100%;
    padding: 0px 30px;
    }
    
    .engaging_container{
        width: 100%;
    padding: 0px 30px;
    }

    .engaging_title h2{
        font-size: 86px;
        line-height: 90px;
        margin: 0px;
    }

    .engaging_text_container{
        padding: 0px 0px 0px 4px;
    }

    .block_img{
        right: -20vw; 
    }

    .block_img img{
        max-width: 70vw;
    }

    .shining_container{
        width: 100%;
        padding: 0px 30px;
    }
    }