@media (max-width: 960px) {
    .nav_container {
        width: 100%;
    padding: 0px 30px;
    }

.container_block{
    width: 100%;
    padding: 0px 30px;
}

.text_block{
    width: 60%;
}

.text_pb{
    width: 100%;
    max-width: 352px;
}

.pic_block{
    width: 40%;
    padding: 0px 0px 0px 30px;
}

.parallax {
    background-attachment: scroll;
}

.pa_container {
    width: 100%;
    padding: 0px 30px;
}

    }